@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
main {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
}

.game-container{
    width: 100vw;
    height: 90vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.game-container button{
    font-size: 30px;

    min-height: 125px;
    min-width: 125px;

    /* Make text unselectable */
    user-select: none; /* Standard */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
}