@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    background-color: #faf8ef;
    color: #776e65;
}
main {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.0rem;
}
/*! */
.inherit{
    background-color: inherit;
    color: inherit;
    font-size: 1.0rem;
}
.inherit:hover{
    background-color: inherit;
    color: inherit;
}
.game-container{
    width: 500px;
    margin: 0 auto;

    text-align: left;
}
.above-grid-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.grid-container{
    width: 100%;
    aspect-ratio: 1/1;

    margin: 0 auto;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center;

    background-color: #bbada0;
    border: 10px solid #bbada0;
    /* border-radius: 5px; */
}
.tile{
    background-color: #cdc1b5;
    border-radius: inherit;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 21px;
    user-select: none;
}
.new-tile{
animation: popIn 0.5s forwards;
}
@keyframes popIn {
    from {transform: scale(75%);}
    to {transform: scale(100%);}
}
/* colored tiles */
.tile-2 {
    background-color: #eee4da;
    color: #727371;
}
.tile-4 {
    background-color: #ece0ca;
    color: #727371;
}
.tile-8 {
    background-color: #f4b17a;
    color: white;
}
.tile-16{
    background-color: #f59575;
    color: white;
}
.tile-32{
    background-color: #f57c5f;
    color: white;
}
.tile-64{
    background-color: #f65d3b;
    color: white;
}
.tile-128{
    background-color: #edce71;
    color: white;
}
.tile-256{
    background-color: #edcc63;
    color: white;
}
.tile-512{
    background-color: #edc651;
    color: white;
}
.tile-1024{
    background-color: #eec744;
    color: white;
}
.tile-2048{
    background-color: #ecc230;
    color: white;
}
.tile-4096 {
    background-color: #fe3d3d;
    color: white;
}
.tile-8192 {
    background-color: #ff2020;
    color: white;
}